.modalCon {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: none;
  z-index: 9999;
}
.modalContent {
  height: 40%;
  width: 300px;
  min-height: 350px;
  position: absolute;
  background: #e2effa;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
.display {
  display: block;
}
